<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" mdbCollapse>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<nav class="menu">
  <div class="drive-panel">
    <div class="menuBtn">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation"></button>
      <i class="fa-solid fa-bars"></i>
    </div>
    <div class="drive-header dx-treeview-item">
      <div class="dx-treeview-item-content"><i class="dx-icon dx-icon-activefolder"></i><span>Drive C: </span></div>
    </div>
    <dx-sortable filter=".dx-treeview-item" group="shared" data="driveC" [allowDropInsideItem]="true"
      [allowReordering]="true" (onDragChange)="onDragChange($event)" (onDragEnd)="onDragEnd($event)">
      <dx-tree-view #treeviewDriveC (onItemClick)="selectItem($event)" (onItemContextMenu)="itemClickk($event)"
        id="treeviewDriveC" dataStructure="plain" displayExpr="name" [expandNodesRecursive]="false"
        [items]="itemsDriveC" [width]="250" [height]="380">
      </dx-tree-view>
    </dx-sortable>
  </div>
</nav>

<div class="main">
  <div class="form">
    <div class="drive-panel">



      <div class="drive-header dx-treeview-item">
        <!-- <div class="dx-treeview-item-content"><i class="dx-icon dx-icon-activefolder"></i><span>Drive D:</span></div> -->
        <dx-button stylingMode="contained" text="Upload" [icon]="'plus'" (onClick)="addFile()" type="success"
          [width]="130">
        </dx-button>
      </div>



      <dx-data-grid [showColumnLines]="true" [dataSource]="null" [showBorders]="true" [selection]="true"
        [allowColumnReordering]="true" [allowColumnResizing]="true" [showRowLines]="true" [allowColumnResizing]="true"
        [showBorders]="true" [columnMinWidth]="50" [allowColumnReordering]="true" [allowColumnResizing]="true">

        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Axtarış..."></dxo-search-panel>
        <dxi-column alignment="center" dataField="fileName" caption="Fayl adı"></dxi-column>
        <dxi-column alignment="center" dataField="fileSize" caption="Fayl ölçüsü"></dxi-column>
        <dxi-column alignment="center" dataField="fileType" caption="Fayl tipi" dataType="date"></dxi-column>
        <dxi-column alignment="center" dataField="note" caption="Dəyişdirilmə tarixi" dataType="date"> </dxi-column>
        <dxo-paging [pageSize]="15"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15, 20]" [showInfo]="true"></dxo-pager>
      </dx-data-grid>

    </div>
  </div>
</div>


<dx-popup [visible]="model" *ngIf="model" [dragEnabled]="true" [resizeEnabled]="true" class="popup" width="450"
  height="auto" title="Qovluq yarat">
  <dx-validation-group #validator>
    <div class="row">
      <div class="mb-3">
        <label>Folder name</label>
      </div>

      <div>
        <dx-text-box [(value)]="model.name" [showClearButton]="true" placeholder="Folder name" valueChangeEvent="keyup">
        </dx-text-box>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-end">
      <dx-button text="Save" [icon]="'save'" type="success" [width]="120" (onClick)="add()">
      </dx-button>
    </div>
  </dx-validation-group>
</dx-popup>

<dx-context-menu [dataSource]="items" [width]="200" target="#treeviewDriveC" (onItemClick)="itemClick($event)">
</dx-context-menu>